body {
  margin: 0;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 40px;
  border: 30px solid black;
  box-shadow: inset 0 0 5px 15px black, inset 0 0 65px 15px black;
  text-shadow: 0 0 1px black;
}

nav {
  position: relative;
}

button {
  padding: 8px 12px;
  width: 140px;
  margin-right: 4px;
  background-color: blue;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}

button:active {
  background-color: rgba(0, 0, 255, 0.726);
}
button:disabled {
  background-color: rgba(135, 135, 139, 0.253);
  color: white;
}

.variant {
  border: none;
  box-shadow: 0 1px 1px 0px black;
  background-color: white;
  color: black;
  font-size: 20px;
  text-transform: capitalize;
}
.variant:hover {
  box-shadow: 0 1px 2px 0px black, 0 1px 10px 0px rgb(226, 222, 222);
}
.variant.counter::after {
  content: '';
  position: absolute;
  background-color: grey;
  color: white;
  z-index: 10;
  top: -10px;
  left: 20px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  opacity: 0;
}

.variant.counter:hover::after {
  content: 'state from children';
  top: -30px;
  left: 20px;
  transition: 0.3s;
  opacity: 1;
}

.effect {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 800px;
}
.effect div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
}

.normal {
  transition: 0.5s;
  scale: 1;
}

.fade {
  transition: 0.5s;
  transform: translateX(40px);
  scale: 1.2;
  color: rgb(49, 49, 49);
}
.advanced {
  position: relative;
}
.advanced::after {
  content: 'advanced';
  position: absolute;
  top: -30px;
  right: 40px;

  width: 60px;
  height: 16px;
  color: rgb(17, 19, 19);
  animation: shop-rotate infinite 2s alternate;
  font-size: 12px;
}

@keyframes shop-rotate {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

button.btn-item {
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 0;
  margin: 0 2px;
  background-color: green;
}
